In [30]:
import pandas as pd
import numpy as np
from dateutil.relativedelta import relativedelta
import datetime
from datetime import datetime
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt
from scipy import stats
from sklearn import metrics

In [3]:
df = pd.read_csv(r'sp500_final_6y.csv', sep= '\t', index_col = 0)
df1 = pd.read_csv(r'VOO_data_6y.csv', sep= ',')

In [4]:
df['Day Average'] = round(((df['High'] + df['Low'] + df['Open'] + df['Close'])/4), 5)
df1['Day Average'] = round(((df1['High'] + df1['Low'] + df1['Open'] + df1['Close'])/4), 5)

In [5]:
df1

,Date,High,Low,Open,Close,Volume,Adj Close,Name,Day Average
0,2014-11-19,188.479996,187.369995,188.250000,188.169998,1880800.0,166.842728,VOO,188.06750
1,2014-11-20,188.639999,187.289993,187.289993,188.509995,866800.0,167.144226,VOO,187.93250
2,2014-11-21,190.479996,188.949997,190.429993,189.570007,1586200.0,168.084045,VOO,189.85750
3,2014-11-24,190.210007,189.770004,190.020004,190.059998,1365900.0,168.518478,VOO,190.01500
4,2014-11-25,190.559998,189.660004,190.339996,190.000000,1736700.0,168.465302,VOO,190.14000
...,...,...,...,...,...,...,...,...,...
1507,2020-11-13,329.730011,325.890015,326.450012,329.010010,1996100.0,329.010010,VOO,327.77001
1508,2020-11-16,333.119995,330.410004,331.649994,333.000000,3018800.0,333.000000,VOO,332.04500
1509,2020-11-17,332.500000,329.250000,330.730011,331.339996,3052100.0,331.339996,VOO,330.95500
1510,2020-11-18,332.140015,327.290009,331.630005,327.320007,2634900.0,327.320007,VOO,329.59501
1511,2020-11-19,329.089996,325.429993,326.760010,328.709991,2962161.0,328.709991,VOO,327.49750

In [6]:
df2 = df1.sort_values('Date', ascending = False)
list5 =  []
list6 = []
list7 = []
count = 0
for i in range(0, (len(list(df2['Day Average'])))):
    seven_day_avg = (df2.iloc[i:i+7]['Day Average'].sum())/len(list(df2.iloc[i:i+7]['Day Average']))
    list5.append(round(seven_day_avg, 4))
df2['7 Day Avg'] = list5
for i in range(0, (len(list(df2['Day Average'])))):
    seven_day_avg = (df2.iloc[i:i+50]['Day Average'].sum())/len(list(df2.iloc[i:i+50]['Day Average']))
    list6.append(round(seven_day_avg, 4))
df2['50 Day Avg'] = list6
for i in range(0, (len(list(df2['Day Average'])))):
    seven_day_avg = (df2.iloc[i:i+200]['Day Average'].sum())/len(list(df2.iloc[i:i+200]['Day Average']))
    list7.append(round(seven_day_avg, 4))
df2['200 Day Avg'] = list7
df2 = df2.sort_values('Date', ascending = True)

In [7]:
df2.to_csv(r'VOO_data_6y_wMA.csv', sep= ',')

In [8]:
df3 = df.groupby('Name', as_index = False)["Close"].count()

In [9]:
list1 = list(df3['Name'])

In [19]:
df5 = pd.DataFrame()
counter = 0
for i in list1:
    df4 = df[df['Name'] == i]
    df2 = df4.sort_values('Date', ascending = False)
    list5 =  []
    list6 = []
    list7 = []
    count = 0
    for i in range(0, (len(list(df2['Day Average'])))):
        seven_day_avg = (df2.iloc[i:i+7]['Day Average'].sum())/len(list(df2.iloc[i:i+7]['Day Average']))
        list5.append(round(seven_day_avg, 4))
    df2['7 Day Avg'] = list5
    for i in range(0, (len(list(df2['Day Average'])))):
        seven_day_avg = (df2.iloc[i:i+50]['Day Average'].sum())/len(list(df2.iloc[i:i+50]['Day Average']))
        list6.append(round(seven_day_avg, 4))
    df2['50 Day Avg'] = list6
    for i in range(0, (len(list(df2['Day Average'])))):
        seven_day_avg = (df2.iloc[i:i+200]['Day Average'].sum())/len(list(df2.iloc[i:i+200]['Day Average']))
        list7.append(round(seven_day_avg, 4))
    df2['200 Day Avg'] = list7
    df2 = df2.sort_values('Date', ascending = True)
    df5 = df5.append(df2)
    counter += 1
    print(counter)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500
501
502
503
504
505

In [20]:
df5

,Date,High,Low,Open,Close,Volume,Adj Close,Name,Sector,Sub-Sector,Weight,Company,Day Average,7 Day Avg,50 Day Avg,200 Day Avg
0,2014-11-19,41.330002,40.700001,40.820000,40.799999,4012100.0,38.536789,A,Health Care,Health Care Equipment,0.115454,Agilent Technologies Inc,40.9125,40.9125,40.9125,40.9125
1,2014-11-20,41.430000,40.560001,40.560001,41.259998,2303800.0,38.971268,A,Health Care,Health Care Equipment,0.115454,Agilent Technologies Inc,40.9525,40.9325,40.9325,40.9325
2,2014-11-21,42.380001,41.700001,41.750000,42.250000,5306200.0,39.906349,A,Health Care,Health Care Equipment,0.115454,Agilent Technologies Inc,42.0200,41.2950,41.2950,41.2950
3,2014-11-24,42.500000,41.990002,42.439999,42.250000,2122400.0,39.906349,A,Health Care,Health Care Equipment,0.115454,Agilent Technologies Inc,42.2950,41.5450,41.5450,41.5450
4,2014-11-25,42.869999,42.310001,42.330002,42.709999,2713900.0,40.340839,A,Health Care,Health Care Equipment,0.115454,Agilent Technologies Inc,42.5550,41.7470,41.7470,41.7470
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
749307,2020-11-13,167.029999,164.509995,165.460007,165.779999,1666600.0,165.779999,ZTS,Health Care,Pharmaceuticals,0.267586,Zoetis,165.6950,167.5918,162.6068,142.9092
749308,2020-11-16,168.520004,164.600006,166.369995,165.289993,1548000.0,165.289993,ZTS,Health Care,Pharmaceuticals,0.267586,Zoetis,166.1950,166.5982,162.7711,143.0628
749309,2020-11-17,166.110001,164.070007,164.490005,165.429993,1214300.0,165.429993,ZTS,Health Care,Pharmaceuticals,0.267586,Zoetis,165.0250,165.8829,162.9791,143.1977
749310,2020-11-18,166.330002,163.419998,165.100006,163.500000,1457800.0,163.500000,ZTS,Health Care,Pharmaceuticals,0.267586,Zoetis,164.5875,165.0354,163.1208,143.3260
749311,2020-11-19,166.940002,163.539993,164.070007,166.309998,1270595.0,166.309998,ZTS,Health Care,Pharmaceuticals,0.267586,Zoetis,165.2150,165.2071,163.2464,143.4609

In [21]:
df5.to_csv(r'sp500_final_6y_wMA.csv', sep = ',')

In [138]:
df6 = df5[df5['Name'] == 'GOOG']